<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title class="html_title">案例展示</title>
    <link href="https://cdn.bootcss.com/Swiper/4.0.7/css/swiper.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/common.css">
    <script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/Swiper/4.0.7/js/swiper.min.js"></script>
</head>
<body>
<div class="topBar">
    <div class="topBar_content">
        <div class="topBar_content_title fl">铭禾石业</div>
        <div class="tel_box fr">
            <div class="tel_box_title">服务热线</div>
            <div class="tel_box_num">0574-89026566</div>
        </div>
    </div>
</div>
<div class="indexBtn">
    <ul>
        <li><a href="../index.html">首页</a></li>
        <li class="active"><a href="./product.html">案例展示</a></li>
        <li><a href="./about.html">关于我们</a></li>
        <li><a href="./contract.html">联系我们</a></li>
    </ul>
</div>
<div class="introduce_box">
    <!--<p>工地信息：<span>比梨花156号</span></p>-->
    <!--<p>开工时间：<span>2018年5月16号</span></p>-->
    <!--<p>所用石材：<span>大理石</span></p>-->
    <!--<p>用户反馈：</p>-->
    <!--<img src="../img/65bb23d72c47fc5a9b16d2efac9c37c4.jpg" alt="">-->
    <!--<img src="../img/65bb23d72c47fc5a9b16d2efac9c37c4.jpg" alt="">-->
    <!--<img src="../img/65bb23d72c47fc5a9b16d2efac9c37c4.jpg" alt="">-->
</div>
<div class="footBar">
    <div class="footBar_content">
        <div class="footBar_content_contract">
            <p>联系我们</p>
            <p>地址：浙江省宁波市鄞州区环城南路1728号红星美凯龙二楼B-8032铭禾石业</p>
            <p>邮编：315000</p>
            <p>邮件：617794014@qq.com</p>
        </div>
        <div class="kefu">
            <p>客服热线</p>
            <p>057489026566</p>
            <p>(工作时间 9:00-17:00)</p>
        </div>
        <div class="help">
            <p>商家服务</p>
            <p>平层装修</p>
            <p>别墅装修</p>
            <p>工程</p>
            <p>专业大理石</p>
        </div>
        <div class="help">
            <p>帮助信息</p>
            <p>帮助中心</p>
            <p>赎回投资</p>
            <p>新手指引</p>
            <p>安全保障</p>
        </div>
    </div>
</div>
</body>
<script>
    $(function(){
        $.ajax({
            type:"get",
            url:"../json/product.js",
            dataType:"json",
            success:function(data){
                var str="";
                var id = window.location.href.split("=")[1];
                for(var i in data){
                    if(i == id){
                        str+='<div class="introduce_box"> ';
                        str+='<p>工地信息：<span>'+data[i].name+'</span></p> <p>开工时间：<span>'+data[i].time+'</span></p> <p>所用石材：<span>'+data[i].material+'</span></p> <p>用户反馈：</p>';
                        for(var p in data[i].feedbackImg){
                            //console.log(data[i].feedbackImg[p])
                            str+='<img src="../img/'+data[i].feedbackImg[p]+'">'
                        }
                        str+='</div>'
                    }
                }
                $(".introduce_box").append(str);
            }
        })
    })
</script>
</html>